* {
  margin: 0;
  padding: 0;
}

article {
  border: 4px solid #000;
  font-family: sans-serif;
  width: 825px;
  margin: 40px auto;
  position: relative;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 18px;
}

.shoe-img {
  margin-bottom: 5px;
}

.price {
  font-size: 22px;
}

.sale {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: red;
  color: #fff;
  display: inline-block;
  padding: 2px 5px;
  position: absolute;
  top: -15px;
  left: -25px;
}

.shipping {
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 18px;
}

.description {
  margin-bottom: 8px;
}

.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
  cursor: pointer;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: inline-block;
  margin-top: 24px;
}

.box-1 {
  background-color: #000;
}

.box-2 {
  background-color: blue;
}

.box-3 {
  background-color: red;
}

.box-4 {
  background-color: burlywood;
}

.box-5 {
  background-color: lightgreen;
}

.box-6 {
  background-color: brown;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.product-details {
  list-style: square;
  margin-left: 18px;
  margin-bottom: 10px;
}

.product-details li {
  margin-bottom: 8px;
}
.product-details li:last-child {
  margin-bottom: 0;
}

.btn {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 18px;
  border-top: 4px solid #000;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
